#main {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 1000px;
	height: 500px;
}

a {
	text-decoration: none !important;
}

.element {
	width: 180px;
	height: 200px;
	float: left;
	padding: 10px;
	margin: 10px;
	transition: 0.3s all;
	text-align: center;
	border-radius: 20px;
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	position: relative;
}

.element:hover {
	transform: scale(1.05);
}

.siteIcon {
	width: 120px;
	height: 120px;
	border-radius: 20px;
    padding: 10px;
}

h3 {
	margin-top: 20px;
	font-weight: bold;
}

.deleteElem {
	width: 20px;
	height: 20px;
	position: absolute;
	z-index: 2;
	background-color: red;
	top: 10px;
	right: 10px;
	border-radius: 7px;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.deleteElem::after {
	content: "X";
}